@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #076585;
  background: -webkit-linear-gradient(to top, #fff, #076585);
  background: linear-gradient(to top, #fff, #076585);
}

.weather-app {
  max-width: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.75fr 1.25fr 5.5fr;
  gap: 10px;
}

@media screen and (max-width: 650px) {
  html {
    font-size: 18px;
  }

  .weather-app {
    margin: 20px;
  }
}

@media screen and (max-width: 400px) {
  .weather-app {
    grid-template-rows: 0.8fr 1.5fr 3.5fr;
  }
}

.search {
  background-color: #eff6f8;
  border-radius: 10px;
  grid-column: 1 / -1;
  display: flex;
  overflow: hidden;
}

.search input {
  background-color: #eff6f8;
  padding: 0 15px 0 15px;
  width: 90%;
  height: 100%;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  font-size: 1.2em;
}

.search button {
  padding-right: 20px;
}

.weather {
  border-radius: 10px;
  background-color: #ffffff5e;

  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.tabs-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.input {
  display: none;
}

.input:checked + label {
  color: #fff;
  border-radius: 0 0 10px 10px;
  background: #81b3c3;
  transition: all 250ms;
}

.label {
  border-top: 1px solid #076585;
  cursor: pointer;
  transition: color 250ms;
  padding: 10px;
  text-align: center;
  transition: all 250ms;
}

.label:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}

.tab-item {
  padding: 10px 20px 10px 20px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input#tab_01:checked ~ .tab-item:not(:nth-of-type(1)),
input#tab_02:checked ~ .tab-item:not(:nth-of-type(2)),
input#tab_03:checked ~ .tab-item:not(:nth-of-type(3)) {
  display: none;
}

.current-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-location-degrees {
  font-size: 70px;
}

.current-location-weather-icon {
  width: 200px;
  align-self: center;
  display: block;
  background: #81b3c3;
  background: -webkit-linear-gradient(to top, #f2f7f9, #81b3c3);
  background: linear-gradient(to top, #f2f7f9, #81b3c3);
  border-radius: 100%;
  filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.3));
}

.locations-title {
  padding-left: 20px;
  border-radius: 10px;
  background-color: #ffffff5e;

  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.locations-list {
  max-height: 540px;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 15px;

  border-radius: 10px;
  background-color: #ffffff5e;

  grid-column: 2 / -1;
  grid-row: 3 / -1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

.location-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.current-location > p {
  margin: 0;
}

.location-name > p {
  margin: 0;
  cursor: pointer;
}

.delete-btn {
  font-weight: 600;
  background-color: transparent;
}

.lnr-cross {
  font-size: 18px;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: #eff6f8;
  padding: 0;
}

input {
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weather-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather-details p {
  padding: 5px;
  margin: 0;
}

.hourly-forecast {
  padding: 5px;
  border-radius: 10px;

  background: #6ba5b5;
  background: -webkit-linear-gradient(to top, #f2f7f9, #6ba5b5);
  background: linear-gradient(to top, #f2f7f9, #6ba5b5);
  filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.3));

  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hourly-forecast-details {
  display: flex;
  justify-content: space-between;
}

.favorite-btn {
  width: 30px;
  height: 30px;
  background: url("./assets/icon-heart.svg") no-repeat;
  cursor: pointer;
}

.liked {
  background: url("./assets/icon-heart-filled.svg") no-repeat;
}

.bounce-effect {
  animation: bounce 0.45s ease-in 1;
}

.error {
  font-size: 18px;
  color: red;
  text-align: center;
  grid-column: 1 / -1;
  border-radius: 10px;
  background-color: #ffffff5e;
}

@keyframes bounce {
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: none;
  }
}
